form action="/albums/#{result['AlbumId']}/update" method="POST"
    input type="text"  name="title" value="#{result['Title']}"
    input type="hidden" name="a rtistId" value="#{result['ArtistId']}"
    input type="submit" value="Ändra!"