h1 Vänligen lägg till ett nytt album nedan!
form action="add" method="POST"
    input type="text" placeholder="Namn på album" name="name"/
    input type="text" placeholder="Artist Id" name="artistId"/
    input type="submit" value="Lägg till!"